@keyframes xoay{
    to{
        transform: rotate(360deg);
    }
}

@keyframes doimau{
    to{
        filter: hue-rotate(360deg);
    }
}

@keyframes animate{
    0%,18%,20%,50.1%,60%,65.1%,80%,90%,92%{
        color: #0e3742;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4,
        0 0 400px #03bcf4;

    }
}

@keyframes openclose {
    0% {
      top: 0.2rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 550px;
    }
    30% {
      top: 0.2rem;
      width: 550px;
    }
    33% {
      top: 0.2rem;
      width: 0;
    }
    35% {
      top: 0.2rem;
      width: 0;
    }
    38% {
      top: -4.5rem;
      
    }
    48% {
      top: -4.5rem;
      width: 400px;
    }
    62% {
      top: -4.5rem;
      width: 400px;
    }
    66% {
      top: -4.5rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -9rem;
      width: 0;
      text-indent: 0px;
    }
    86% {
      top: -9rem;
      width: 460px;
    }
    95% {
      top: -9rem;
      width: 460px;
    }
    98% {
      top: -9rem;
      width: 0;
      text-indent: 0px;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
}