*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', san-serif;
}

body{
    background: linear-gradient(#2b1055,#7597de);
    min-height: 100vh ;
    overflow-x: hidden;
}




#text{
    position: absolute;
    color: rgb(182, 216, 246);
    white-space: nowrap;
    font-size: 7.5vw;
    font-weight: 600;
    text-transform: uppercase;
    z-index: 1;
    right: -1100px;
}

.sec{
    position: relative;
    padding: 100px;
    background: #1c0522;
}

.sec h2{
    font-size: 3.5rem;
    margin-bottom: 20px;
    color: white;
}
.sec p{
    font-size: 1.7rem;
    color: white;
}